.search{
font-weight: bold;
}

.slider{
    margin-top: 20px;
    font-weight: bold;
}

.category{
    margin-top: 20px;
    font-weight: bold;
}

.type{
    margin-top: 20px;
    font-weight: bold;
}
.placeHolder{
    font-size: medium;
}